body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  width: 200px;
  height: 395px;
  border-radius: 5px;
  background-color: #008060;
  color: white;
}

.sidebar_score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sidebar_score_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.sidebar_score_box {
  padding: 16px;
  min-width: 20px;
  border-radius: 8px;
}

.sidebar_score_black_box {
  background-color: black;
}

.sidebar_score_black_box span {
  color: white;
}

.sidebar_score_white_box {
  background-color: white;
}

.sidebar_score_white_box span {
  color: black;
}

.button {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.button.danger {
  background-color: red;
  color: white;
  margin-top: auto;
} 

.button.send {
  background-color: white;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 2px;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.piece {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
}

.piece.black {
  background-color: black;
}

.piece.white {
  background-color: white;
}

#chat-messages {
  border: 1px solid #ccc;
  padding: 10px;
  height: calc(100% - 72px);
  overflow-y: auto;
  background-color: #008060;
  display: flex;
  flex-direction: column-reverse;
}

#chat-input {
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.chat-message {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.chat-message .timestamp {
  margin-right: 5px;
  font-size: 0.6em;
  color: #800080;
}

.chat-message.black .message-content {
  color: black;
}

.chat-message.white .message-content {
  color: white;
}